* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.7s;
}

body {
    background-color: #000;
    padding: 20px;
    height: 100dvh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.image {
    width: 23%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    filter: brightness(0.5);
}
.image:hover {
    filter: brightness(1);
    width: 100%;
}
body:has(.image:hover) .image:not(:hover) {
    width: 0;
}